<%= simple_form_for [:admin, @template] do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>

  <%= f.simple_fields_for :properties do |p| %>
    <div id="<%= p.object.name %>" class="panel panel-default template-property">
      <div class="panel-heading">
        <div class="panel-title">
          <%= p.object.name %>
        </div>
      </div>
      <div class="panel-body">
        <%= p.input :visible, :label => "Show" %>
        <%= p.input :required %>
        <%= p.input :name, :as => :hidden %>
      </div>
    </div>
  <% end %>

  <%= f.submit "Save Template" %>
<% end %>
