<div class="panel panel-default">
  <div class="panel-heading">
    <%= property.to_s.titleize %>
    <% unless field.facet.persisted? %>
      <%= simple_form_for field.facet, :url => admin_facets_path(field.facet) do |f| %>
        <%= f.input :key, :as => :hidden, :input_html => { :value => [parent,property].compact.map(&:to_s).join("_") } %>
        <%= f.submit %>
      <% end %>
    <% else %>
      <%= link_to "Delete", admin_facet_path(field.facet), :method => :delete %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">Distinct Values:</label>
        <div class="col-sm-10">
          <p class="form-control-static"> <%= field.distinct %> </p>
        </div>
      </div>
      <%= render :partial => "top_terms", :locals => {:field => field} %>
    </div>
  </div>
</div>
