<div class="panel panel-default">
  <div class="panel-heading">
    <%= best_in_place_if field.facet.persisted?, field.facet, :label, :url => admin_facet_path(:id => field.facet.id || "0", :format => :json), :display_as => :view_label %>
    <% unless field.facet.persisted? %>
      <%= simple_form_for field.facet, :url => admin_facets_path(field.facet) do |f| %>
        <%= f.input :key, :as => :hidden, :input_html => { :value => property.to_s} %>
        <%= f.submit "Enable #{property.to_s.titleize} Facet" %>
      <% end %>
    <% else %>
      <%= link_to "Delete", admin_facet_path(field.facet), :method => :delete %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2">Distinct Values:</label>
        <div class="col-sm-10">
          <p class="form-control-static"> <%= field.distinct %> </p>
        </div>
      </div>
      <%= render :partial => "top_terms", :locals => {:field => field} %>
    </div>
  </div>
</div>
