<%= simple_form_for form, url: record_form_action_url(form), html: { class: 'editor' } do |f| %>
  <%= f.error_notification %>
  <div id="descriptions_display">
	<%= render 'records/form_header' %>
    <div class="well" id="displayed-fields">
      <%= f.input :content, :as => :file %>
      <% if f.object.has_content? %>
        <p>
          <span class="label label-danger">Note</span>
          You are editing a record that already has a file.  If you choose to
          upload a file here, it will overwrite the existing file and replace
          derivatives based on that file.
        </p>
      <% end %>
      <%= render :partial => "records/edit_fields/default",
                 :collection => f.object.template_terms,
                 :as => :key,
                 :locals => {:f => f}
      %>
    </div> <!-- /well -->
  </div>
  <button class="btn-default btn" data-toggle-field="hidden-fields">Show Hidden Fields</button>
  <div id="hidden-fields" class="well hidden">
      <%= render :partial => "records/edit_fields/default",
                 :collection => f.object.hidden_terms,
                 :as => :key,
                 :locals => {:f => f}
      %>
  </div>
  <%= hidden_field_tag :type, params[:type] %>
  <%= hidden_field_tag :template_id, f.object.template.id %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to t(:'helpers.action.cancel'), main_app.root_path, class: 'btn btn-link' %>
    </div>
  </div>
<% end %>
